.authContainer {
  min-height: calc(100vh - 120px); /* full height minus header/footer */
  background: linear-gradient(to bottom right, #f3f6ff, #dbeafe);
}

.authCard {
  background-color: white;
  max-width: 420px;
  width: 100%;
  border-radius: 15px;
}
